<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Header and Footer
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/fonts.css")
    body
        header.fixed-container
            .header-with-btn.flex-container
                .logo
                    img(src="img/logo.png", alt="logo" class = "logo__img")
                    p.logo__text T<span class = "logo__span">&#128711;</span>XIN
                .header-with-btn__navigation.flex-container
                    ul.menu
                        li.menu__item.menu__item_paddind_display
                            a(href="#").menu__link Home
                        li.menu__item.menu__item_paddind_display 
                            a(href="#").menu__link About Us
                        li.menu__item.menu__item_paddind_display 
                            a(href="#").menu__link Services
                        li.menu__item.menu__item_paddind_display 
                            a(href="#").menu__link Careers
                        li.menu__item.menu__item_paddind_display 
                            a(href="#").menu__link News 
                        li.menu__item.menu__item_paddind_display 
                            a(href="#").menu__link Documentation
                    button.header-with-btn__btn-log.btn-border LOGIN
                    button.header-with-btn__btn-reg.btn-gradient REGISTER
            .header-with-name.flex-container
                .logo
                    img(src="img/logo.png", alt="logo" class = "logo__img")
                    p.logo__text T<span class = "logo__span">&#128711;</span>XIN
                .header-with-name__navigation.flex-container
                    ul.menu
                        li.menu__item.menu__item_paddind_display
                            a(href="#").menu__link Home
                        li.menu__item.menu__item_paddind_display 
                            a(href="#").menu__link About Us
                        li.menu__item.menu__item_paddind_display 
                            a(href="#").menu__link Services
                        li.menu__item.menu__item_paddind_display 
                            a(href="#").menu__link Careers
                        li.menu__item.menu__item_paddind_display 
                            a(href="#").menu__link News 
                        li.menu__item.menu__item_paddind_display 
                            a(href="#").menu__link Documentation
                    p.header-with-name__text.flex-container Cosmin Negoita

        footer
            .footer-widgest.flex-container.fixed-container
                .footer-widgest__logo
                    .logo
                        img(src="img/logo.png", alt="logo" class = "logo__img")
                        p.logo__text T<span class = "logo__span">&#128711;</span>XIN
                    p.footer-widgest__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
                .footer-widgest__navigation
                    h2 NAVIGATION
                    ul.menu
                        li.menu__item
                            a(href="#").menu__link Home
                        li.menu__item 
                            a(href="#").menu__link About Us
                        li.menu__item 
                            a(href="#").menu__link Services
                        li.menu__item 
                            a(href="#").menu__link Careers
                .footer-widgest__about
                    h2 ABOUT US
                    ul.menu
                        li.menu__item
                            a(href="#").menu__link Home
                        li.menu__item 
                            a(href="#").menu__link About Us
                        li.menu__item 
                            a(href="#").menu__link Services
                        li.menu__item 
                            a(href="#").menu__link Careers
                .footer-widgest__support
                    h2 SUPPORT
                    ul.menu
                        li.menu__item
                            a(href="#").menu__link Home
                        li.menu__item 
                            a(href="#").menu__link About Us
                        li.menu__item 
                            a(href="#").menu__link Services
                .footer-widgest__subscribe
                    h2 SUBSCRIBE OT UOR NEWLESSTER
                    ul.menu
                        li.menu__item
                            a(href="#").menu__link Home

            .footer-creative