html, body{
    margin: 0;
    font-family: 'Montserrat';
}
.main-text{
    text-decoration: none;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.5);
}
.fixed-container{
    max-width: 1160px;
    margin: 0 auto;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer{
    align-items: flex-start;
    margin: 100px auto;
    &__title{
        padding-top: 5px;
        padding-bottom: 19px;
        margin: 0;
        font-size: 12px;
        line-height: 15px;
    }
    &__logo{
        width: 24%;
    }
    &__subscribe{
        padding-right: 4px;
        width: 22%;
    }
    &__support, &__about-us, &__navigation{
        width: 15%;
    }
}
.logo{
    
	&__text{
        margin: 0;
        color: #1F2041;
        display: inline-block;
        vertical-align:middle;
	}
	&__img{
        margin-right:8px;
        display: inline-block;
        vertical-align: middle;
	}
}
.sub-text{
    line-height: 24px;
}
.menu{
	list-style: none;
	margin: 0;
	padding: 0;
    &__item{
        margin-bottom: 19px;
    }
    &__link{
        line-height: 17px;
    }
}
