<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title footerWidgets
        link(rel="stylesheet", href="css/fonts.css")
        link(rel="stylesheet", href="css/style.css")
    body
        footer.fixed-container.footer.flex-container
            div.footer__logo
                .logo
                    img(src="img/logo.png", alt="logo").logo__img
                    p.logo__text Т&#128711;XIN
                p.sub-text.main-text  Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
            nav.footer__navigation
                h2.footer__title.main-text NAVIGATION
                ul.menu
                    li.menu__item 
                        a(href="#").menu__link.main-text About Us
                    li.menu__item 
                        a(href="#").menu__link.main-text News
                    li.menu__item 
                        a(href="#").menu__link.main-text Support
                    li.menu__item 
                        a(href="#").menu__link.main-text Products
            nav.footer__about-us
                h2.footer__title.main-text ABOUT US
                ul.menu
                    li.menu__item 
                        a(href="#").menu__link.main-text Who we are
                    li.menu__item 
                        a(href="#").menu__link.main-text Our team
                    li.menu__item 
                        a(href="#").menu__link.main-text Careers
                    li.menu__item 
                        a(href="#").menu__link.main-text Investors
            nav.footer__support
                h2.footer__title.main-text SUPPORT
                ul.menu
                    li.menu__item 
                        a(href="#").menu__link.main-text Documentation
                    li.menu__item 
                        a(href="#").menu__link.main-text Community
                    li.menu__item 
                        a(href="#").menu__link.main-text Get in Touch
            nav.footer__subscribe
                h2.footer__title.main-text SUBSCRIBE TO OUR NEWSLETTER
                ul.menu
                    li.menu__item 
                        a(href="#").menu__link.main-text Receive our latest news and promotions in your inbox!